{% extends 'base.html' %}

{% block content %}

<h3>Ваш профиль: </h3>
<br>{%if author.avatar %}
<div class="men-thumb-item">
    <img src="{{author.avatar.url}}" class="img-fluid" width=150px height=50px alt="">
</div> 
{%endif%}
<h5>User name: <u>{{user.username}}</u></h5>
<h5>Last name:<u> {{user.last_name}}</u></h5>
<h5>First name: <u>{{user.first_name}}</u></h5>
<h5>E-mail: <u>{{user.email}}</u></h5>
<h5>bio:<u> {{author.bio}}</u></h5>
<p><h5>Мои посты:</h5></p>
{% for post in author.post_author.all%}

    <h3><a  href="/{{ post.id }}">{{post.title}}</a></h3></tr>
    <p> <a href="{% url 'post_update' post.id %}"  class="btn btn-dark">
        Изменить
    </a> <a href="{% url 'post_delete' post.id %}"  class="btn btn-danger">
        удалить
    </a></p>
    <p><h5>откликлв: ({{post.responses.all.count}})</h5></p><hr ><br>
    {% for resp in post.responses.all %}
    <p><h6>Автор: <u>{{resp.author}}</u></h6></p>
        <p ><h4>{{resp.text}}</h4></p>
        <p>{{resp.time_creation}}</p>
        <p >Status: {{resp.status}}</p>
        {%if resp.status is Fulse%}
        <p> <a href="{% url 'response_accept' resp.id %}"  class="btn btn-success">
            Подтвердить
        </a> | {%endif%}
        <a href="{% url 'response_del' resp.id %}"  class="btn btn-danger">
            удалить
        </a></p><hr>
    {%endfor%}


{%endfor%}


{% endblock %}
