{% extends 'base.html' %}

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1> Posts</h1>

    {% for post in posts %}
    <table align="center">
        <td>
            <tr>
            <h2><a  href="/{{ post.id }}">{{post.title}}</a></h2>
            </tr>
       
        <tr>
            {%if post.author.avatar%}
            <h3><img src="{{post.author.avatar.url}}" class="img-fluid" alt="" width=100px height=100px>|
            {%endif%}
            {{post.author}}</h3>
            
        </tr>
         </td>
         
         </tr>
        <tr>

        <td>
            {{post.text}}
        </td>
        </tr>
    </table>
        {%if post.image %}
        <div class="men-thumb-item">
            <img src="{{post.image.url}}" class="img-fluid" alt="">
        </div> 
        {%endif%}
        <hr>
        {%if post.video %}
        <video width="" controls>
            <source src="{{post.video.url}}" type="video/mp4">
        {%endif%}
        <hr>    
        {%endfor%}



{%endblock content%}